<!DOCTYPE html>
<html lang="en">



{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<h1>{% block title %} Se connecter {% endblock %}</h1>
<hr>


    <form method="POST" action="/signup" class="row gy-4 gx-4 align-items-center">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
            </div>
        </div>
    
        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
            </div>
        </div>
    
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Password">
            </div>
        </div>
    
        <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
    </form>
</div>


{% endblock %}
</html>