<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}



{% block content %}
<div class="container-fluid">
<h1>{% block title %} Se connecter {% endblock %}</h1>
<hr>


    <form method="POST" action="/login" class="row gy-4 gx-4 align-items-center">

        <div class="input-group-btn">
            <input class="btn btn-secondary btn-lg" type="email" name="email" placeholder="Your Email" autofocus="">
        </div>
    
        <div class="input-group-btn">
            <input class="btn btn-secondary btn-lg" type="password" name="password" placeholder="Your Password">
        </div>
    
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Login</button>
    </form>
</div>



{% endblock %}
</html>